
<link rel="stylesheet" type="text/css" href="/static/_header.css">
<div class="header">
	<div class="logo">
		<div class="logo_container">
			<img id="logo" src="/static/hit_logo.jpg">
		</div>
	</div>
	<div class="user">

		{% if username %}
		<div class="username_container">
			<span class="username" id="username">{{ username }}</span>
		</div>
		<div class="operations">
			<div class="logout">
				<a href="{% url 'texas:logout' %}">logout</a>
			</div>
			<div class="endgame">
				
			</div>
		</div>
		{% endif %}

	</div>
</div>


